{{ app_name }} - Password Reset Request

Hello {{ user.name or user.email.split('@')[0] }},

We received a request to reset your password for your {{ app_name }} account.

To reset your password, please visit the following link:
{{ reset_url }}

SECURITY NOTICE:
- This link will expire in {{ expires_in_minutes }} minutes
- If you didn't request this password reset, please ignore this email
- For security, this request was made from IP: {{ ip_address }}

If you have any questions or need assistance, please contact our support team.

Best regards,
The {{ app_name }} Team
