You're Invited to Join {{ team_name }}!

{{ inviter_name }} has invited you to join their team on {{ app_name }}.

Team: {{ team_name }}

By joining this team, you'll be able to collaborate with other team members, share resources, and work together on {{ app_name }}.

Accept this invitation:
{{ invitation_url }}

If you don't want to join this team or don't know {{ inviter_name }}, you can safely ignore this email.

--
This invitation was sent to you by {{ inviter_name }}.
{{ app_name }}
