repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.6
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: templates|migrations|scripts|docs|dist|.venv|public
  - repo: https://github.com/ariebovenberg/slotscheck
    rev: v0.19.0
    hooks:
      - id: slotscheck
        exclude: test_*|docs|migrations|scripts
        entry: env PYTHONPATH=src slotscheck
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        exclude: scripts/
        additional_dependencies:
          - "litestar[jinja,redis,structlog,opentelemetry]>=2.8.3"
          - "advanced-alchemy[uuid]>=0.10.0"
          - "asyncpg>=0.28.0"
          - "python-dotenv>=1.0.0"
          - "litestar-saq>=0.1.3"
          - "litestar-vite[nodeenv]"
          - "litestar-granian @ git+https://github.com/cofin/litestar-granian.git@extras"
          - "aiosqlite>=0.19.0"
          - "httptools"
          - "pwdlib[argon2]>=0.2.0"
          - "logfire"
          - "pydantic>=2.8.2"
          - "pydantic-settings>=2.3.4"
          - "pydantic-extra-types>=2.9.0"
          - "opentelemetry-api>=1.25.0"
          - "opentelemetry-sdk>=1.25.0"
          - "opentelemetry-instrumentation-sqlalchemy>=0.46b0"
          - "opentelemetry-distro>=0.46b0"
          - "opentelemetry-instrumentation-threading>=0.47b0"
          - "opentelemetry-instrumentation-logging>=0.47b0"
          - "opentelemetry-instrumentation-redis>=0.47b0"
          - "opentelemetry-instrumentation-asyncio>=0.47b0"
          - "opentelemetry-instrumentation-jinja2>=0.47b0"
          - types-click
          - types-redis
          - types-passlib
          - types-click
          - types-PyYAML
