# https://nixpacks.com/docs/configuration/file

providers = ['python', 'node'] # force python as the only provider, otherwise railway may think this is a node project

# set up some variables to minimize annoyance
[variables]
LITESTAR_SKIP_NODEENV_INSTALL = 'true' # skip using nodeenv.  nix handles that for us.
NIXPACKS_PYTHON_VERSION = '3.12'       # set python version to install
NIXPACKS_UV_VERSION = '0.5.15'         # set uv version to install
NPM_CONFIG_FUND = 'false'              # the fund notification is is also pretty useless in a production environment
NPM_CONFIG_UPDATE_NOTIFIER = 'false'   # the node update notification is relatively useless in a production environment
PIP_DISABLE_PIP_VERSION_CHECK = '1'    # the pip update notification is relatively useless in a production environment

[phases.setup]
nixPkgs = ['...'] # add nodejs since it is needed to build the frontend

[phases.install]
# cmds = [
#   'python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install -U mypy cython setuptools uv==$NIXPACKS_UV_VERSION && uv sync --frozen --no-dev',
# ] # custom install command allows for setting uv version above

[start]
cmd = 'app database upgrade --no-prompt && app run --wc 2 --host 0.0.0.0 --port $PORT'
