# https://nixpacks.com/docs/configuration/file

providers = ['python'] # force python as the only provider, otherwise railway may think this is a node project

# set up some variables to minimize annoyance
[variables]
NIXPACKS_PDM_VERSION = '2.10.3' # set pdm version to install
NIXPACKS_PYTHON_VERSION = '3.12' # set python version to install
NPM_CONFIG_FUND = 'false' # the fund notification is is also pretty useless in a production environment
NPM_CONFIG_UPDATE_NOTIFIER = 'false' # the node update notification is relatively useless in a production environment
PIP_DISABLE_PIP_VERSION_CHECK = '1' # the pip update notification is relatively useless in a production environment

[phases.release]
cmds = ['litestar databases upgrade --no-prompt']

[phases.setup]
nixPkgs = ['...'] # add nodejs since it is needed to build the frontend

[phases.install]
cmds = [
  'python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install -U mypy cython setuptools pdm==$NIXPACKS_PDM_VERSION && pdm install --prod',
] # custom install command allows for setting pdm version above

[start]
cmd = 'app run-all --http-workers 2 --host 0.0.0.0 --port $PORT'
