apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ namespace }}
spec:
  ports:
    - port: 5432
  selector:
    app: postgres
  clusterIP: None # Headless service for StatefulSet
