<!DOCTYPE html>
<html class="h-full">

<head>
  <meta charset="utf-8" />
  <title inertia>Fullstack</title>
  <meta name="referrer" content="same-origin" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('vite', file_path='favicon.png') }}">
  {{ js_routes }}
</head>

<body class="font-sans antialiased h-full">
  <div class="h-full" id="app" data-page="{{ inertia | escape }}"></div>
  {{ vite_hmr() }}
  {{ vite('resources/main.tsx') }}
</body>

</html>
