<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="utf-8" />
    <!--IE compatibility-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body class="font-sans leading-none text-gray-700 antialiased">
    <div id="root"></div>
    {{ vite_hmr() }}
    {{ vite('resources/main.tsx') }}
  </body>
</html>
