name: Documentation Building

on:
  release:
    types: [published]
  push:
    branches:
      - main

env:
  UV_LOCKED: 1

jobs:
  docs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        version: "0.5.10"
        enable-cache: true

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Fetch gh pages
        run: git fetch origin gh-pages --depth=1

      - name: Build release docs
        run: uv run python scripts/build-docs.py docs-build
        if: github.event_name == 'release'

      - name: Build dev docs
        run: uv run python scripts/build-docs.py docs-build
        if: github.event_name == 'push'

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs-build
